.search-style{
    font-family: 'Segoe UI', sans-serif;
    border-color: rgb(222, 243, 250);
    border-width: 2.5px;
    border-radius: 6px;
    text-align: center;
    font-size: 18px;
    outline: none;
    line-height: 40px;
    width: 20% ;
    margin: 25px auto 70px auto;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

.search-style:hover{
    border-color: rgb(88, 219, 219); 
    transform: scale(1.05);
}