body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to right, #fcfcfc , #f9ffff);
   
}

h1{
    font-size: 40px;
    font-family: 'Modern Antiqua', cursive;
    color: #4ceaf0 ;
    font-weight: bold;
    font-stretch: expanded;
    
}